<section class="sidelist">
  <div class="sidelist-system">
    <div class="sidelist-bar">
    <div class="sidelist-buttons">
      <button (click)="navigateTo('/characters')">Characters</button>
      <button (click)="navigateTo('/planets')">Planets</button>
      <button (click)="navigateTo('/starships')">Starships</button>
      <button (click)="navigateTo('/films')">Films</button>
      <button (click)="navigateTo('/species')">Species</button>
      <button (click)="navigateTo('/vehicles')">Vehicles</button>  
    </div>
    </div>
</div>
  <div class="sidelist-content">
  </div>
</section>